@font-face {
  font-family: "Comic Neue";
  src: url(../assets/comic-neue.ttf);
}

div,
.header {
  font-family: "Comic Neue" !important;
}

.fancy,
button,
strong {
  text-transform: uppercase !important;
  letter-spacing: 3px !important;
}

* {
  -webkit-overflow-scrolling: touch !important;
}
